.side-bar_ctn {
    width: 100%;
    border-right: 1px solid #efefef;
    padding: 20px;
}
.product-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.MuiPaginationItem-root:focus {
    outline: none;
}
.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.category {
    font-size: 0.9rem;
}
.category:hover {
    cursor: pointer;
}