@charset "utf-8";
/* CSS Document */

.menu{
	width:200px;
	margin-left: 250px;
	margin-top: 100px;
	display:inline-block;
	box-sizing: border-box;
	
}
.thongtin{
	display:inline-block;
	box-sizing: border-box;
	width:500px;
	height:600px;
	margin-left: 50px;
	vertical-align: top;
	margin-top:100px;
	background-color:#F4F4F4; 
}
.tkkhac{
	display:inline-block;
	box-sizing: border-box;
	width: 400px;
	height:600px;
	vertical-align: top;
	margin-top:100px;
	background-color:#F4F4F4;
	
}

#menu_1{
	border: #F9EAEA 0px none;
	height: 40px;
	margin-bottom: 20px;
}
#menu_1:hover{
	background-color:#E0E0E0;
}
#menu_2:hover{
	background-color:#E0E0E0;
}
#menu_3:hover{
	background-color:#E0E0E0;
}
#menu_4:hover{
	background-color:#E0E0E0;
}
#menu_5:hover{
	background-color:#E0E0E0;
}
#menu_6:hover{
	background-color:#E0E0E0;
}
#menu_7:hover{
	background-color:#E0E0E0;
}
#menu_8:hover{
	background-color:#E0E0E0;
}
#menu_9:hover{
	background-color:#E0E0E0;
}
#menu_10:hover{
	background-color:#E0E0E0;
}
#menu_11:hover{
	background-color:#E0E0E0;
}
#menu_12:hover{
	background-color:#E0E0E0;
}
#menu_13:hover{
	background-color:#E0E0E0;
}
#menu_14:hover{
	background-color:#E0E0E0;
}
#menu_15:hover{
	background-color:#E0E0E0;
}
#menu_16:hover{
	background-color:#E0E0E0;
}
#menu_17:hover{
	background-color:#E0E0E0;
}
#menu_18:hover{
	background-color:#E0E0E0;
}
#menu_19:hover{
	background-color:#E0E0E0;
}
#menu_2,#menu_3,#menu_4,#menu_5,#menu_6,#menu_7,#menu_8,#menu_9,#menu_10,#menu_11,#menu_12,#menu_14,#menu_15,#menu_16,#menu_17,#menu_19{
	height: 30px;
	border:#F9EAEA 0px none;
}
#menu_18,#menu_13{
	height:35px;
	border:#F9EAEA 0px none;
}
#menu_2{
	background-color: #E0E0E0;
}

#ho_ten,#nickname{
	margin-left: 150px;
}
#ho_ten{
	margin-top: 50px;
}
#nickname{
	margin-bottom: 50px;
}
#sdt,#mail,#doimk,#maP,#face,#goog{
	float:right;
}

