.gio-hang {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
  }
  
.san-pham-gio-hang {
    width: 75%;
    margin-right: 20px;
  }
  
.thong-tin-nguoi-nhan {
    width: 25%;
  }
  
.cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
.cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
.cart-item-details h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
.cart-item-details p {
    margin: 5px 0;
  }
  
.category {
    font-style: italic;
  }
  
.number-sold {
    font-size: 0.8rem;
  }
  
.price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
.rating {
    font-size: 0.8rem;
  }
  
.add-button,.remove-button {
    background-color: #f8f8f8;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
.add-button:hover,.remove-button:hover {
    background-color: #e8e8e8;
  }
  
.buy-button {
    background-color: red;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;

  }
  
.buy-button:hover {
    background-color: #e8e8e8;
  }
  
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.form-field input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
.tong-tien {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }