:root {
    --content-max-width: 1250px;
    --tiki-color: #0360ff;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #efefef;
}
.center-ctn {
    max-width: var(--content-max-width);
    margin: 0 auto;
}
.truncate {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}
  