.container {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  width: 100%;
}

.picture {
  background-image: url("https://rare-gallery.com/uploads/posts/351193-4k-wallpaper.jpg");
  border-radius: 10px;
  height: 12em;
  width: auto;
  display: flex;
}

.picture img {
  margin: auto;
  border-radius: 50%;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  display: block;
}

.statistic-box {
  box-sizing: border-box;
  margin-top: 1%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
}
