.header-card-shop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 0px;
  background: linear-gradient(45deg, #667eea, #764ba2, #a24b8c);
  background-size: 200% 200%;
  animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
