
  .user-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
  }
  
  .user {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
  }
  
  .password {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
	margin-top: 160px;
  }
  
  .avatar {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
	margin-top: 160px;
  }
  
  /* form {
	display: flex;
	flex-direction: column;
  }
  
  form h2 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #333;
  }
  
  form div {
	margin-bottom: 10px;
  }
  
  label {
	font-size: 14px;
	color: #333;
  }
   */
  /* input[type="tel"],
  input[type="password"],
  input[type="file"] {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
  } */
  
  button[type="submit"] {
	background-color: #3122ff;
	color: #fff;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
  } */
  
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
  }
  
  
  
  
  .account-page{
	vertical-align: top;
	display:inline-block;
	box-sizing: border-box;
	text-align: center;
	width: 1000px;
	height:600px;
	top: 500px;
	margin-left: 50px;
	vertical-align: top;
	margin-top:100px;
	background-color:#FFFFFF; 
	border:#C0C0C0 1px solid;
	border-radius: 10px 10px 10px 10px;
  }