
  .user-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
  }
  
  .user {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
  }
  
  .password {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
	margin-top: 160px;
  }
  
  .avatar {
	flex-basis: calc(33.33% - 10px);
	margin-bottom: 10px;
	margin-top: 160px;
  }
  
  
  
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
  }
  
  
  
  
  .account-page{
	vertical-align: top;
	display:inline-block;
	box-sizing: border-box;
	text-align: center;
	width: 1000px;
	height:600px;
	top: 500px;
	margin-left: 50px;
	vertical-align: top;
	margin-top:100px;
	background-color:#FFFFFF; 
	border:#C0C0C0 1px solid;
	border-radius: 10px 10px 10px 10px;
  }